@font-face {
  font-family: 'BigJohn';
  src: url('../fonts/BigJohn.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BigJohn.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SlimJoe';
  src: url('../fonts/SlimJoe.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SlimJoe.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}

@import "slick.scss";
@import "slick-theme.scss";

// контейнер по умолчанию. Отступ между колонками
$container: 1170px;
$colGups: 15px;

// размер текста
$textFont-size: 1rem;  // 16px
$linkColor: blue;

// контрольные точки, на которых наш макет будет перестраиваться (могут меняться зависимости от дизайна)
$breakpoints: (
        xs: 0,
        sm: 575px,
        md: 768px,
        lg: 1025px,
        xl: 1200px,
        xxl: 1440px
);

$columns: 12;

@each $breakpoint in $breakpoints {

  $name: nth($breakpoint, 1);
  $size: nth($breakpoint, 2);

  @media only screen and (min-width: $size) {
    [class*="col-#{$name}"] {
      box-sizing: border-box;
      flex: 0 0 auto;
      padding-right: $colGups;
      padding-left: $colGups;
    }
    @for $i from 1 through $columns {
      .col-#{$name}-#{$i} {
        flex-basis: 100% / $columns * $i;
        max-width: 100% / $columns * $i;
      }
    }
    @for $i from 1 through $columns {
      .col-#{$name}-offset-#{$i} {
        margin-left: 100% / $columns * $i
      }
    }
  }
}
// variables
$mainColor: #444;
$mainBackground: #fff;

  //===========  mixins start ===========//

// columns
$columns: 12;
$col: $columns;

@mixin col($col, $columns) {
  width: percentage($col/$columns);
}

//===========  mixins end ===========//

@mixin col-create(){
  @while $col > 0 {

    .col-#{$col} {

      @include col($col, $columns);
    }

    $col: $col - 1;
  }
}

body {
  font-family: 'Lato', sans-serif;

}

.container{
  max-width: $container;
  width: 100%;
  margin: 0 auto;
}

.row{
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-around;
}

[class^='col']{
  padding-left:$colGups;
  padding-right:$colGups;
  width: 100%;
  min-height: 1px;
  margin-left: -12px;
}

.button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 134px;
  height: 35px;
  border: 2px solid currentColor;
  border-radius: 2px;
  color: #48bf72;
  text-decoration: none;
  text-transform: uppercase;
  &:hover, &:focus{
    color: #fff;
  }
}

.ba-header{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  background: {
    image: url(../img/hero.jpg);
    size: cover;
  };

  .ba-slider & {
    display: flex;
  }

  &-title {
    text-transform: uppercase;
    font-size: 46px;
    font-family: 'BigJohn';
  }

  &-sub-title {
    font-size: 30px;
    font-family: 'SlimJoe';
    line-height: 90px;
  }

  @media screen and (min-width: 1025px) {
    min-height: 650px;
  }
}


.portfolio{

  &-navi{
    display: flex;
  
    a{
      padding-top: 5px;
      display: flex;
      text-decoration: none;
      color: #3c4955;
      border-radius: 2px;
      font-size: 16px;
      align-items: center;
      justify-content: center;
      min-width: 135px;
      height: 36px;
      background-color: #eaeaea;
      text-align: center;
      margin: 0 7px;
      border-radius: 2px;
      &.active{
        background-color: #48bf72;
        color: #fff;
      }
    }
  }
  
    &-item {
    height: 300px;
    width: 29.35%;
    margin: 2%;
  
      &--red {
        background-color: red;
        height: 350px;
      }
      &--green {
        background-color: green;
        height: 380px;
      }
      &--blue {
        background-color: blue;
      }
        &--purple {
        background-color: purple;
        height: 280px;
      }
      &--pink {
        background-color: pink;
        height: 325px;
      }
  
      &--yellow {
        background-color: yellow;
        height: 375px;
      }
  }
  }

  // .items-navi .nav-btn {
  //   user-select: none;
  //   pointer-events: none;
  // }

  #map {
    height: 400px;
    width: 100%;
  }

  .login-page{
    background-color: #afabab;
  }
  .ba-login{
    max-width: 400px;
    width: 100%;
    margin: 4em auto;
    border: 1px solid #3c4955;
    padding: 4em 2em 3.5em;
    border-radius: 5px;
  }
  .ba-form {
    &__row{
      margin-bottom: 0.5em;
    }
    label{
      display: inline-block;
      width: 30%;
    }
    input{
      height: 30px;
      border: 1px solid #eee;
      border-radius: 5px;
      padding: 0 10px;
      &:hover, &:focus{
        border-color: #48bf72;
      }
    }
    &__submit{
      min-width: 30%;
      height: 30px;
      border: 1px solid #eee;
      border-radius: 5px;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      &:hover, &:focus{
        background-color: #48bf72;
      }
    }
  }